window.bar {
    background-color: transparent;
    color: @theme_fg_color;
}

.bar_left, .bar_center, .bar_right {
    background-color: @theme_bg_color;
    border: solid 2px @dialog_bg_color;
    border-radius: 12px;
    padding-right: 6px;
}
.bar_center {
    padding:0px 10px;
}
.bar_right {
    padding-right: 10px;
}

.workspaces button.active {
    color: @accent_color;
}

.workspaces button.occupied {
    color: mix(@accent_color, black, 0.5);
}
.workspaces button {
    color: @dialog_bg_color;
}
